footer#main-footer {
    background-color: #333;
    color: #f3f3f3;
    text-align: center;
    padding: 3rem 0;
    margin-top: 3rem;
  }
  
  footer#main-footer p {
    margin: 0;
    padding: 0;
  }