<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
  <div class="container">
    <a href="#" class="navbar-brand"
      ><i class="fa fa-coins"></i> Sales Goals App</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarLinks"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarLinks">
      <!-- Right navigation links -->
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a routerLink="/" class="nav-link"
            ><i class="fa fa-cog"></i> Dashboard</a
          >
        </li>
        <li class="nav-item">
          <a routerLink="/salesGoals/add" class="nav-link"
            ><i class="fa fa-plus"></i> Add new sales goal</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
